body{
    max-width: 500px;
    margin: 60px auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #afaeae5b;
}
.container{
    background-color: #fffffcfe;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(148, 162, 0, 0.905);
    text-align: center;
}
html, body {
    font-size: 16px;
}
input,select,button{
    width: 70%;
    padding: 12px 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
}
button {
    background-color: #d3830bee;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #605202;
}