
body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fefdfd;
}
.card {
    width   : 500px;
    padding : 38px;
    background-color: #8abbf7;
    border: 2px solid #00479ea7;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 130, 162, 0.905);
}
.container{
    padding: 40px;
    display: flex;
    justify-content: center;
}
label {
    display: block;
    width: 70%;
    margin-top: 12px;
    margin-bottom: 5px;
    text-align: center;
}

.button {
    width: 400px;
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
}


#ejercicio1 {
    background-color: #990705;
}
#ejercicio2 {
    background-color: #cc0707fa;
}
#ejercicio3 { 
    background-color: #ecaa1d;
}
#ejercicio4 {
    background-color: #bac309db;
}
#ejercicio5 {
    background-color: #31e309c8;
}
#ejercicio6 {
    background-color: #059725f9;
}
#ejercicio7 {
    background-color: #15fb9f;
}
#ejercicio8 {
    background-color: #049997;
}
#ejercicio9 {
    background-color: #071d97fe;
}
#ejercicio10 {
    background-color: #4804a2;
}
#ejercicio11 {
    background-color: #8504a2;
}
#ejercicio12{
    background-color: #a20492;
}
#ejercicio13{
    background-color: #a20446;
}
#ejercicio14{
    background-color: #a2040c;
}
