
body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fefdfd;
    background-image: url(https://images8.alphacoders.com/137/thumb-1920-1377841.png);
    
}
.card {
    width   : 70%;
    padding : 0;
    background-color: #001f4416;
    border: 2px solid #00479ea7;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 130, 162, 0.905);
}
.container{
    padding: 40px;
    display: flex;
    justify-content: center;
}


.button {
    width: 400px;
    display: inline-block;
    text-decoration: none;
    color: rgb(16, 0, 0);
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
    cursor: pointer;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid #006f9ea7;
    border-radius: 5px;
    box-shadow: 0px 4px 8px 0px rgba(1, 35, 43, 0.967);
    font-weight: bold;
}

.button:hover {
    border: 2px solid #ffffffa7;
    background-color: #eefaff;
    box-shadow: 2px 8px 16px 2px rgba(251, 254, 254, 0.967);
    transform: translateY(-4px);

}
