
body{
    margin: 60px;
    font-family: Arial, sans-serif;
}
.container{
    padding: 40px;
}
html, body {
    font-size: 16px;
}
.card {
    width   : 70%;
    padding : 24px;
    background-color: #8abbf7a7;
    border: 2px solid #00479ea7;
}

.primary {
    display: inline-block;
    text-decoration: none;
    margin: 6px;
}
#ejercicio1 {
   
    background-color: #00479ea7;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}
#ejercicio2 {
    margin-bottom: 20px;
    background-color: #54009ea7;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}
#ejercicio3 {   
    margin-bottom: 20px;
    background-color: #9b009ea7;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}
#ejercicio4 {
    background-color: #9e002da7;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}
#ejercicio5 {
    background-color: #f64904c8;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}
#ejercicio6 {
    background-color: #1c8809d0;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
}